/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/

/* Marker setup */
.awesome-marker {
    background: url('../images/markers-soft.png') no-repeat 0 0;
    width: 35px;
    height: 46px;
    position:absolute;
    left:0;
    top:0;
    display: block;
    text-align: center;
  }
  
  .awesome-marker-shadow {
    background: url('../images/markers-shadow.png') no-repeat 0 0;
    width: 36px;
    height: 16px;
  }
  
  /* Retina displays */
  @media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
   .awesome-marker {
    background-image: url('../images/markers-soft@2x.png');
    background-size: 720px 46px;
   }
   .awesome-marker-shadow {
    background-image: url('../images/markers-shadow@2x.png');
    background-size: 35px 16px;
   }
  }
  
  .awesome-marker i {
    color: #333;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
  }
  
  .awesome-marker .icon-white {
    color: #fff;
  }
  
  /* Colors */
  .awesome-marker-icon-red {
    background-position: 0 0;
  }
  
  .awesome-marker-icon-darkred {
    background-position: -180px 0;
  }
  
  .awesome-marker-icon-lightred {
    background-position: -360px 0;
  }
  
  .awesome-marker-icon-orange {
    background-position: -36px 0;
  }
  
  .awesome-marker-icon-beige {
    background-position: -396px 0;
  }
  
  .awesome-marker-icon-green {
    background-position: -72px 0;
  }
  
  .awesome-marker-icon-darkgreen {
    background-position: -252px 0;
  }
  
  .awesome-marker-icon-lightgreen {
    background-position: -432px 0;
  }
  
  .awesome-marker-icon-blue {
    background-position: -108px 0;
  }
  
  .awesome-marker-icon-darkblue {
    background-position: -216px 0;
  }
  
  .awesome-marker-icon-lightblue {
    background-position: -468px 0;
  }
  
  .awesome-marker-icon-purple {
    background-position: -144px 0;
  }
  
  .awesome-marker-icon-darkpurple {
    background-position: -288px 0;
  }
  
  .awesome-marker-icon-pink {
    background-position: -504px 0;
  }
  
  .awesome-marker-icon-cadetblue {
    background-position: -324px 0;
  }
  
  .awesome-marker-icon-white {
    background-position: -574px 0;
  }
  
  .awesome-marker-icon-gray {
    background-position: -648px 0;
  }
  
  .awesome-marker-icon-lightgray {
    background-position: -612px 0;
  }
  
  .awesome-marker-icon-black {
    background-position: -682px 0;
  }


  thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}